@import "../lib/colors.less";
@import "../lib/itemholder";

html,
body {

    background-color: @background;


    a {
        color: @link;

        &:visited {
            color: lighten(@link, 35%);
        }
    }

    Section{
        #login, #logout {
            color: @text;
            background-color: @secondary;
            width: auto;
            &:hover {
                background-color: darken(@secondary, 5%);
                color: @text;
            }
        }
    }


}

