@use 'sass:color';

@use '../../node_modules/@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '../../node_modules/@material/theme/index' as theme with (
  $primary: #0059ff,
  $secondary: color.scale(#3498db, $whiteness: -10%),
  $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  $background: #fd3e00,
  $error: color-palette.$red-700
);